html{
  position: relative;
  min-height: 100%;
}

.space{
  height: 25px;
}

.wrapper {
  margin-bottom: 100px;
}

.tabContainer{
  width: 97%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.tabContainer .buttonContainer .button button{
  background-color: #c4516d;
}
.tabContainer .buttonContainer .buttons button{
  background-color: #210b14;
  background-color:rgba(33, 11, 20, 0.7);
}
.tabContainer .buttonContainer{
  height: 40px;
}
.tabContainer .buttonContainer button{
  width: 25%;
  height: 100%;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-family: sans-serif;
  font-size: 18px;
  color: #ffa474;
}
.tabContainer .buttonContainer .buttons button:hover{
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #210b14;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #210b14;
  background-color:rgba(196, 81, 109, 0.9);
}
.tabContainer .tabPanel{
  height: 450px;
  background-color:rgba(255, 255, 255, 0.4);
  text-align: center;
  padding-top: 105px;
  box-sizing: border-box; 
  font-family: sans-serif;
  font-size: 22ps;
  
  border-width: 5px;
  border-style: solid;
  border-color: #c4516d;
   
  display: "Block";
}

.Footer{
  background-color: #1a1a1a;
  width: 100%;
  
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #c4516d;
}
.Footer .info{
  padding: 15px;
  font-family: sans-serif;
  color: #fff;
}